openapi: 3.0.1
info:
  title: Future Vuls Public API
  description: Future Vuls Public API
  contact:
    name: FutureVuls
    url: https://futurevuls.tayori.com/form/1dd23480d6f0f7a0dd066f03be8ed7d1b41d10e7
  version: v1
servers:
- url: //rest.vuls.biz/
paths:
  /health:
    get:
      tags:
      - health
      summary: health health
      description: health
      externalDocs:
        description: Health
        url: https://vuls.biz/
      operationId: health#health
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                type: boolean
                x-content-type: application/json
            application/xml:
              schema:
                type: boolean
            application/gob:
              schema:
                type: boolean
  /v1/cve/{cveID}:
    get:
      tags:
      - cve
      summary: getCveDetail cve
      description: cve detail
      externalDocs:
        description: Get Cve Detail
        url: https://vuls.biz/
      operationId: cve#getCveDetail
      parameters:
      - name: cveID
        in: path
        description: Cve ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveGetCveDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/CveGetCveDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/CveGetCveDetailResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/cves:
    get:
      tags:
      - cve
      summary: getCveList cve
      description: cve list
      externalDocs:
        description: Get Cve List
        url: https://vuls.biz/
      operationId: cve#getCveList
      parameters:
      - name: page
        in: query
        description: Page Number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 20
      - name: offset
        in: query
        description: Offset
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: filterServerID
        in: query
        description: ServerID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterRoleID
        in: query
        description: ServerRoleID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterPkgID
        in: query
        description: PackageID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterCpeID
        in: query
        description: CpeID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveGetCveListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/CveGetCveListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/CveGetCveListResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/lockfile:
    post:
      tags:
      - lockfile
      summary: addLockfile lockfile
      description: add lockfile
      externalDocs:
        description: Add Lockfile
        url: https://vuls.biz/
      operationId: lockfile#addLockfile
      parameters:
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockfileAddLockfileRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/LockfileAddLockfileRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/LockfileAddLockfileRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileAddLockfileResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileAddLockfileResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileAddLockfileResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: AddLockfileRequestBody
  /v1/lockfile/{lockfileID}:
    get:
      tags:
      - lockfile
      summary: getLockfileDetail lockfile
      description: lockfile detail
      externalDocs:
        description: Get Lockfile Detail
        url: https://vuls.biz/
      operationId: lockfile#getLockfileDetail
      parameters:
      - name: lockfileID
        in: path
        description: Lockfile ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileDetailResponseBody'
      security:
      - api_key_header_Authorization: []
    put:
      tags:
      - lockfile
      summary: updateLockfile lockfile
      description: update lockfile
      externalDocs:
        description: Update Lockfile
        url: https://vuls.biz/
      operationId: lockfile#updateLockfile
      parameters:
      - name: lockfileID
        in: path
        description: Lockfile ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockfileUpdateLockfileRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/LockfileUpdateLockfileRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/LockfileUpdateLockfileRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileUpdateLockfileResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileUpdateLockfileResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileUpdateLockfileResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: UpdateLockfileRequestBody
    delete:
      tags:
      - lockfile
      summary: deleteLockfile lockfile
      description: lockfile delete
      externalDocs:
        description: Delete Lockfile
        url: https://vuls.biz/
      operationId: lockfile#deleteLockfile
      parameters:
      - name: lockfileID
        in: path
        description: Lockfile ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content: {}
      security:
      - api_key_header_Authorization: []
  /v1/lockfiles:
    get:
      tags:
      - lockfile
      summary: getLockfileList lockfile
      description: lockfile list
      externalDocs:
        description: Get Lockfile List
        url: https://vuls.biz/
      operationId: lockfile#getLockfileList
      parameters:
      - name: page
        in: query
        description: Page Number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 20
      - name: offset
        in: query
        description: Offset
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: filterServerID
        in: query
        description: ServerID filter
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: filterPath
        in: query
        description: Path filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileListResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/pkgCpe/cpe:
    post:
      tags:
      - pkgCpe
      summary: addCpe pkgCpe
      description: add cpe
      externalDocs:
        description: Add cpe
        url: https://vuls.biz/
      operationId: pkgCpe#addCpe
      parameters:
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PkgCpeAddCpeRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/PkgCpeAddCpeRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/PkgCpeAddCpeRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeAddCpeResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeAddCpeResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeAddCpeResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: AddCpeRequestBody
    delete:
      tags:
      - pkgCpe
      summary: deleteCpe_deprecated pkgCpe
      description: "[deprecated] urlにcpeIDを指定して利用してください。cpeIDの指定のないこちらのアクセス方法は今後削除\
        されます。"
      externalDocs:
        description: Delete cpe Detail
        url: https://vuls.biz/
      operationId: pkgCpe#deleteCpe_deprecated
      parameters:
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PkgCpeDeleteCpeDeprecatedRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/PkgCpeDeleteCpeDeprecatedRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/PkgCpeDeleteCpeDeprecatedRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content: {}
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: deleteCpe_deprecated_request_body
  /v1/pkgCpe/cpe/{cpeID}:
    get:
      tags:
      - pkgCpe
      summary: getCpeDetail pkgCpe
      description: cpe detail
      externalDocs:
        description: Get cpe Detail
        url: https://vuls.biz/
      operationId: pkgCpe#getCpeDetail
      parameters:
      - name: cpeID
        in: path
        description: cpe ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeGetCpeDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeGetCpeDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeGetCpeDetailResponseBody'
      security:
      - api_key_header_Authorization: []
    delete:
      tags:
      - pkgCpe
      summary: deleteCpe pkgCpe
      description: delete cpe (urlにcpeIDを指定してください。cpeIDの指定のないアクセス方法は今後削除されます。)
      externalDocs:
        description: Delete cpe Detail
        url: https://vuls.biz/
      operationId: pkgCpe#deleteCpe
      parameters:
      - name: cpeID
        in: path
        description: cpe ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content: {}
      security:
      - api_key_header_Authorization: []
  /v1/pkgCpe/pkg/{pkgID}:
    get:
      tags:
      - pkgCpe
      summary: getPkgDetail pkgCpe
      description: pkg detail
      externalDocs:
        description: Get Pkg Detail
        url: https://vuls.biz/
      operationId: pkgCpe#getPkgDetail
      parameters:
      - name: pkgID
        in: path
        description: PackageID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgDetailResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/pkgCpes:
    get:
      tags:
      - pkgCpe
      summary: getPkgCpeList pkgCpe
      description: pkgCpe list
      externalDocs:
        description: Get PkgCpe List. Calling pkgCpes without filters can be very
          time-consuming. It is recommended that you specify filter as much as possible.
        url: https://vuls.biz/
      operationId: pkgCpe#getPkgCpeList
      parameters:
      - name: page
        in: query
        description: Page Number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 20
      - name: offset
        in: query
        description: Offset
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: filterCveID
        in: query
        description: CveID filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filterTaskID
        in: query
        description: TaskID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterServerID
        in: query
        description: ServerID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterRoleID
        in: query
        description: ServerRoleID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgCpeListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgCpeListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgCpeListResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/role/{roleID}:
    get:
      tags:
      - role
      summary: getRoleDetail role
      description: role detail
      externalDocs:
        description: Get Role Detail
        url: https://vuls.biz/
      operationId: role#getRoleDetail
      parameters:
      - name: roleID
        in: path
        description: Role ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleGetRoleDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleGetRoleDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/RoleGetRoleDetailResponseBody'
      security:
      - api_key_header_Authorization: []
    put:
      tags:
      - role
      summary: updateRole role
      description: update role
      externalDocs:
        description: Update Role
        url: https://vuls.biz/
      operationId: role#updateRole
      parameters:
      - name: roleID
        in: path
        description: Role ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleUpdateRoleRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/RoleUpdateRoleRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/RoleUpdateRoleRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleUpdateRoleResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleUpdateRoleResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/RoleUpdateRoleResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: UpdateRoleRequestBody
    delete:
      tags:
      - role
      summary: deleteRole role
      description: role delete
      externalDocs:
        description: Delete Role
        url: https://vuls.biz/
      operationId: role#deleteRole
      parameters:
      - name: roleID
        in: path
        description: Role ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content: {}
      security:
      - api_key_header_Authorization: []
  /v1/roles:
    get:
      tags:
      - role
      summary: getRoleList role
      description: role list
      externalDocs:
        description: Get Role List
        url: https://vuls.biz/
      operationId: role#getRoleList
      parameters:
      - name: page
        in: query
        description: "Page Number (default: 1)"
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: "Limit (default: 20, max: 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 20
      - name: offset
        in: query
        description: Offset
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: filterCveID
        in: query
        description: CveID filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleGetRoleListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleGetRoleListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/RoleGetRoleListResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/server/paste:
    post:
      tags:
      - server
      summary: createPkgPasteServer server
      description: create paste server
      externalDocs:
        description: Create Paste Server
        url: https://vuls.biz/
      operationId: server#createPkgPasteServer
      parameters:
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerCreatePkgPasteServerRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServerCreatePkgPasteServerRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/ServerCreatePkgPasteServerRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCreatePkgPasteServerResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerCreatePkgPasteServerResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerCreatePkgPasteServerResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: CreatePkgPasteServerRequestBody
  /v1/server/paste/{serverID}:
    put:
      tags:
      - server
      summary: updatePkgPasteServer server
      description: update paste server
      externalDocs:
        description: Update Paste Server
        url: https://vuls.biz/
      operationId: server#updatePkgPasteServer
      parameters:
      - name: serverID
        in: path
        description: Server ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerUpdatePkgPasteServerRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServerUpdatePkgPasteServerRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/ServerUpdatePkgPasteServerRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content: {}
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: UpdatePkgPasteServerRequestBody
  /v1/server/uuid/{serverUuid}:
    get:
      tags:
      - server
      summary: getServerDetailByUUID server
      description: server detail by UUID
      externalDocs:
        description: Get Server Detail
        url: https://vuls.biz/
      operationId: server#getServerDetailByUUID
      parameters:
      - name: serverUuid
        in: path
        description: Server UUID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailByUUIDResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailByUUIDResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailByUUIDResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/server/{serverID}:
    get:
      tags:
      - server
      summary: getServerDetail server
      description: server detail
      externalDocs:
        description: Get Server Detail
        url: https://vuls.biz/
      operationId: server#getServerDetail
      parameters:
      - name: serverID
        in: path
        description: Server ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailResponseBody'
      security:
      - api_key_header_Authorization: []
    put:
      tags:
      - server
      summary: updateServer server
      description: update server
      externalDocs:
        description: Update Server
        url: https://vuls.biz/
      operationId: server#updateServer
      parameters:
      - name: serverID
        in: path
        description: Server ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerUpdateServerRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServerUpdateServerRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/ServerUpdateServerRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerUpdateServerResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerUpdateServerResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerUpdateServerResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: UpdateServerRequestBody
    delete:
      tags:
      - server
      summary: deleteServer server
      description: server delete
      externalDocs:
        description: Delete Server
        url: https://vuls.biz/
      operationId: server#deleteServer
      parameters:
      - name: serverID
        in: path
        description: Server ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content: {}
      security:
      - api_key_header_Authorization: []
  /v1/servers:
    get:
      tags:
      - server
      summary: getServerList server
      description: server list
      externalDocs:
        description: Get Server List
        url: https://vuls.biz/
      operationId: server#getServerList
      parameters:
      - name: page
        in: query
        description: Page Number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 20
      - name: offset
        in: query
        description: Offset
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: filterCveID
        in: query
        description: CveID filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filterRoleID
        in: query
        description: ServerRoleID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterTagName
        in: query
        description: ServerTagName filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGetServerListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerGetServerListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerGetServerListResponseBody'
      security:
      - api_key_header_Authorization: []
  /v1/task/{taskID}:
    get:
      tags:
      - task
      summary: getTaskDetail task
      description: task detail
      externalDocs:
        description: Get Task Detail
        url: https://vuls.biz/
      operationId: task#getTaskDetail
      parameters:
      - name: taskID
        in: path
        description: Task ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskGetTaskDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskGetTaskDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskGetTaskDetailResponseBody'
      security:
      - api_key_header_Authorization: []
    put:
      tags:
      - task
      summary: updateTask task
      description: update task
      externalDocs:
        description: Update Task
        url: https://vuls.biz/
      operationId: task#updateTask
      parameters:
      - name: taskID
        in: path
        description: Task ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: UpdateTaskRequestBody
  /v1/task/{taskID}/comment:
    post:
      tags:
      - task
      summary: addTaskComment task
      description: add task comment
      externalDocs:
        description: Add Task Comment
        url: https://vuls.biz/
      operationId: task#addTaskComment
      parameters:
      - name: taskID
        in: path
        description: Task ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAddTaskCommentRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaskAddTaskCommentRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/TaskAddTaskCommentRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAddTaskCommentResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskAddTaskCommentResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskAddTaskCommentResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: AddTaskCommentRequestBody
  /v1/task/{taskID}/ignore:
    put:
      tags:
      - task
      summary: updateTaskIgnore task
      description: update task ignore
      externalDocs:
        description: Update Task Ignore
        url: https://vuls.biz/
      operationId: task#updateTaskIgnore
      parameters:
      - name: taskID
        in: path
        description: Task ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskIgnoreRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskIgnoreRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskIgnoreRequestBody'
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskIgnoreResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskIgnoreResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskIgnoreResponseBody'
      security:
      - api_key_header_Authorization: []
      x-codegen-request-body-name: UpdateTaskIgnoreRequestBody
  /v1/tasks:
    get:
      tags:
      - task
      summary: getTaskList task
      description: task list
      externalDocs:
        description: Get Task List
        url: https://vuls.biz/
      operationId: task#getTaskList
      parameters:
      - name: page
        in: query
        description: Page Number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: Limit
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 20
      - name: offset
        in: query
        description: Offset
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: filterStatus
        in: query
        description: Status filter
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - new
            - investigating
            - ongoing
            - not_affected
            - risk_accepted
            - workaround
            - patch_applied
      - name: filterPriority
        in: query
        description: Priority filter
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - none
            - high
            - medium
            - low
      - name: filterIgnore
        in: query
        description: Ignore filter(trueの場合は、非表示のものを取得しない。falseの場合は全件取得)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: filterMainUserIDs
        in: query
        description: MainUserIDs filter
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: filterSubUserIDs
        in: query
        description: SubUserIDs filter
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: filterCveID
        in: query
        description: CveID filter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filterServerID
        in: query
        description: ServerID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterRoleID
        in: query
        description: ServerRoleID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterPkgID
        in: query
        description: PackageID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: filterCpeID
        in: query
        description: CpeID filter
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: Authorization
        in: header
        description: api key auth
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskGetTaskListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskGetTaskListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskGetTaskListResponseBody'
      security:
      - api_key_header_Authorization: []
components:
  schemas:
    AdvisoryResponseBody:
      title: AdvisoryResponseBody
      required:
      - advisoryID
      - osFamily
      type: object
      properties:
        advisoryID:
          type: string
          description: AdvisoryID of advisory
          example: advisoryID
        osFamily:
          type: string
          description: osFamily of advisory
          example: redhat
      description: Advisory describes a advisory
      example:
        advisoryID: advisoryID
        osFamily: redhat
    AffectedProcResponseBody:
      title: AffectedProcResponseBody
      required:
      - name
      - pid
      type: object
      properties:
        name:
          type: string
          description: AffectedProc Name
          example: apache
        pid:
          type: string
          description: PID
          example: "12"
      example:
        name: apache
        pid: "12"
    ChildTaskResponseBody:
      title: ChildTaskResponseBody
      required:
      - createdAt
      - cveID
      - id
      - ignore
      - priority
      - serverID
      - status
      - updatedAt
      type: object
      properties:
        applyingPatchOn:
          type: string
          description: ApplyingPatchOn of task
          format: date
          example: 2018-07-13
        createdAt:
          type: string
          description: created time of task
          format: date-time
          example: 2018-07-14T08:13:28Z
        cveID:
          type: string
          description: CVE ID of task
          example: CVE-2017-6799
        id:
          type: integer
          description: ID of task
          format: int64
          example: 1
        ignore:
          type: boolean
          description: Ignore of task
          example: true
        ignoreUntil:
          type: string
          description: Ignore until of task
          example: vector
        mainUserID:
          type: integer
          description: MainUserID of task
          format: int64
          example: 1
        mainUserName:
          type: string
          description: MainUserName of task
          example: main-user-name
        priority:
          type: string
          description: Priority of task
          example: high
        serverID:
          type: integer
          description: ServerID of task
          format: int64
          example: 1
        status:
          type: string
          description: Status of task
          example: new
        subUserID:
          type: integer
          description: SubUserID of task
          format: int64
          example: 1
        subUserName:
          type: string
          description: SubUserName of task
          example: sub-user-name
        updatedAt:
          type: string
          description: updated time of task
          format: date-time
          example: 2018-07-14T08:13:28Z
      example:
        applyingPatchOn: 2018-07-13
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2017-6799
        id: 1
        ignore: true
        ignoreUntil: vector
        mainUserID: 1
        mainUserName: main-user-name
        priority: high
        serverID: 1
        status: new
        subUserID: 1
        subUserName: sub-user-name
        updatedAt: 2018-07-14T08:13:28Z
    CveGetCveDetailResponseBody:
      title: CveGetCveDetailResponseBody
      required:
      - createdAt
      - cveID
      - cvss
      - cwes
      - envMetricV2s
      - envMetricV3s
      - references
      - secMetrics
      - serverOsFamilies
      - tmpMetricV2
      - tmpMetricV3
      - updatedAt
      type: object
      properties:
        advisories:
          type: array
          description: advisory of cve
          example:
          - advisoryID: advisoryID
            osFamily: redhat
          - advisoryID: advisoryID
            osFamily: redhat
          - advisoryID: advisoryID
            osFamily: redhat
          items:
            $ref: '#/components/schemas/AdvisoryResponseBody'
        createdAt:
          type: string
          description: created time
          format: date-time
          example: 2018-07-14T08:13:28Z
        cveID:
          type: string
          description: Cve ID string of cve
          example: CVE-2018-1234
        cvss:
          type: string
          description: cvss of cve
          format: binary
        cwes:
          type: array
          description: cwes of cve
          example:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          items:
            $ref: '#/components/schemas/CweResponseBody'
        envMetricV2s:
          type: array
          description: envMetricV2 of cve
          example:
          - cdp: ""
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            roleID: 1
            roleName: roleName
            td: ""
            updatedAt: 2018-07-14T08:13:28Z
          - cdp: ""
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            roleID: 1
            roleName: roleName
            td: ""
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/EnvMetricV2ResponseBody'
        envMetricV3s:
          type: array
          description: envMetricV3 of cve
          example:
          - createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            ma: ""
            mac: ""
            mav: ""
            mc: ""
            mpr: ""
            ms: ""
            mui: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            ma: ""
            mac: ""
            mav: ""
            mc: ""
            mpr: ""
            ms: ""
            mui: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/EnvMetricV3ResponseBody'
        references:
          type: object
          additionalProperties:
            type: string
            example: Culpa explicabo sunt omnis cum unde.
          description: references of cve
          example:
            nvd: https://xxxxxx
        secMetrics:
          type: array
          description: secMetric of cve
          example:
          - ar: ""
            cr: ""
            createdAt: 2018-07-14T08:13:28Z
            ir: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          - ar: ""
            cr: ""
            createdAt: 2018-07-14T08:13:28Z
            ir: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          - ar: ""
            cr: ""
            createdAt: 2018-07-14T08:13:28Z
            ir: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/SecMetricResponseBody'
        serverOsFamilies:
          type: array
          description: serverOsFamilies of cve
          example:
          - Odit suscipit suscipit.
          - Dolor reiciendis.
          - Est accusamus et repudiandae.
          - Illum atque dicta sapiente optio commodi.
          items:
            type: string
            example: Provident minima.
        tmpMetricV2:
          $ref: '#/components/schemas/TmpMetricResponseBody'
        tmpMetricV3:
          $ref: '#/components/schemas/TmpMetricResponseBody'
        updatedAt:
          type: string
          description: updated time
          format: date-time
          example: 2018-07-14T08:13:28Z
      example:
        advisories:
        - advisoryID: advisoryID
          osFamily: redhat
        - advisoryID: advisoryID
          osFamily: redhat
        - advisoryID: advisoryID
          osFamily: redhat
        - advisoryID: advisoryID
          osFamily: redhat
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        cvss: Et aut quae vero fugit.
        cwes:
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        envMetricV2s:
        - cdp: ""
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          roleID: 1
          roleName: roleName
          td: ""
          updatedAt: 2018-07-14T08:13:28Z
        - cdp: ""
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          roleID: 1
          roleName: roleName
          td: ""
          updatedAt: 2018-07-14T08:13:28Z
        - cdp: ""
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          roleID: 1
          roleName: roleName
          td: ""
          updatedAt: 2018-07-14T08:13:28Z
        envMetricV3s:
        - createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          ma: ""
          mac: ""
          mav: ""
          mc: ""
          mpr: ""
          ms: ""
          mui: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          ma: ""
          mac: ""
          mav: ""
          mc: ""
          mpr: ""
          ms: ""
          mui: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          ma: ""
          mac: ""
          mav: ""
          mc: ""
          mpr: ""
          ms: ""
          mui: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        references:
          nvd: https://xxxxxx
        secMetrics:
        - ar: ""
          cr: ""
          createdAt: 2018-07-14T08:13:28Z
          ir: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        - ar: ""
          cr: ""
          createdAt: 2018-07-14T08:13:28Z
          ir: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        serverOsFamilies:
        - Est est.
        - Dolor natus.
        - Dolores reiciendis exercitationem labore dolor.
        - Magnam odit sapiente.
        tmpMetricV2:
          createdAt: 2018-07-14T08:13:28Z
          e: ""
          rc: ""
          rl: ""
          updatedAt: 2018-07-14T08:13:28Z
        tmpMetricV3:
          createdAt: 2018-07-14T08:13:28Z
          e: ""
          rc: ""
          rl: ""
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
    CveGetCveListResponseBody:
      title: CveGetCveListResponseBody
      type: object
      properties:
        cves:
          type: array
          description: Cves list
          example:
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          items:
            $ref: '#/components/schemas/CveListResponseBody'
        paging:
          $ref: '#/components/schemas/PagingResponseBody'
      example:
        cves:
        - advisoryIDs:
          - advisoryID
          allTaskCount: 100
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          cwes:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          hasExploit: true
          hasMitigation: true
          hasWorkaround: true
          isNotActive: true
          isOwaspTopTen2017: true
          maxV2: 9
          maxV3: 9
          newTaskCount: 10
          scoreV2s:
            nvd: 9
            redhat: 7
          scoreV3s:
            nvd: 8
            redhat: 9
          title: title
          topicCount: 10
          topicLastUpdatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
          vectorV2s:
            jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
            nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
          vectorV3s:
            jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
            nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
        - advisoryIDs:
          - advisoryID
          allTaskCount: 100
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          cwes:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          hasExploit: true
          hasMitigation: true
          hasWorkaround: true
          isNotActive: true
          isOwaspTopTen2017: true
          maxV2: 9
          maxV3: 9
          newTaskCount: 10
          scoreV2s:
            nvd: 9
            redhat: 7
          scoreV3s:
            nvd: 8
            redhat: 9
          title: title
          topicCount: 10
          topicLastUpdatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
          vectorV2s:
            jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
            nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
          vectorV3s:
            jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
            nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
        paging:
          limit: 20
          offset: 10
          page: 1
          totalCount: 200
          totalPage: 10
    CveListResponseBody:
      title: CveListResponseBody
      required:
      - allTaskCount
      - createdAt
      - cveID
      - cwes
      - isNotActive
      - isOwaspTopTen2017
      - maxV2
      - maxV3
      - newTaskCount
      - scoreV2s
      - scoreV3s
      - title
      - topicCount
      - topicLastUpdatedAt
      - updatedAt
      - vectorV2s
      - vectorV3s
      type: object
      properties:
        advisoryIDs:
          type: array
          description: advisoryIDs of cve
          example:
          - advisoryID
          items:
            type: string
            example: Et sit cum animi inventore ex.
        allTaskCount:
          type: integer
          description: AllTaskCount of cve
          format: int64
          example: 100
        createdAt:
          type: string
          description: created time
          format: date-time
          example: 2018-07-14T08:13:28Z
        cveID:
          type: string
          description: Cve ID string of cve
          example: CVE-2018-1234
        cwes:
          type: array
          description: cwes of cve
          example:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          items:
            $ref: '#/components/schemas/CweResponseBody'
        hasExploit:
          type: boolean
          description: hasExploit of cve
          example: true
        hasMitigation:
          type: boolean
          description: hasMitigation of cve
          example: true
        hasWorkaround:
          type: boolean
          description: hasWorkaroundof cve
          example: true
        isNotActive:
          type: boolean
          description: Flag of active cve
          example: true
        isOwaspTopTen2017:
          type: boolean
          description: isOwaspTopTen2017 of cve
          example: true
        maxV2:
          type: number
          description: maxV2 of cve
          format: double
          example: 9.0
        maxV3:
          type: number
          description: maxV3 of cve
          format: double
          example: 9.0
        newTaskCount:
          type: integer
          description: NewTaskCount of cve
          format: int64
          example: 10
        scoreV2s:
          type: object
          additionalProperties:
            type: number
            format: double
            example: 0.23789528192427706
          description: cvss v2 scores of cve
          example:
            nvd: 9
            redhat: 7
        scoreV3s:
          type: object
          additionalProperties:
            type: number
            format: double
            example: 0.19422774721731959
          description: cvss v3 scores of cve
          example:
            nvd: 8
            redhat: 9
        title:
          type: string
          description: Title of cve
          example: title
        topicCount:
          type: integer
          description: topicCount of cve
          format: int64
          example: 10
        topicLastUpdatedAt:
          type: string
          description: topicLastUpdatedAt of cve
          format: date-time
          example: 2018-07-14T08:13:28Z
        updatedAt:
          type: string
          description: updated time
          format: date-time
          example: 2018-07-14T08:13:28Z
        vectorV2s:
          type: object
          additionalProperties:
            type: string
            example: Et nemo amet molestias vero.
          description: cvss v2 vectors of cve
          example:
            jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
            nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
        vectorV3s:
          type: object
          additionalProperties:
            type: string
            example: Aliquam est et eaque.
          description: cvss v3 vectors of cve
          example:
            jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
            nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
      example:
        advisoryIDs:
        - advisoryID
        allTaskCount: 100
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        cwes:
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        hasExploit: true
        hasMitigation: true
        hasWorkaround: true
        isNotActive: true
        isOwaspTopTen2017: true
        maxV2: 9
        maxV3: 9
        newTaskCount: 10
        scoreV2s:
          nvd: 9
          redhat: 7
        scoreV3s:
          nvd: 8
          redhat: 9
        title: title
        topicCount: 10
        topicLastUpdatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
        vectorV2s:
          jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
          nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
        vectorV3s:
          jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
    CweResponseBody:
      title: CweResponseBody
      required:
      - cweID
      - english
      - japanese
      - sourceType
      type: object
      properties:
        cweID:
          type: string
          description: cweID of cwe
          example: CWE-416
        english:
          type: string
          description: english summary of cwe
          example: english summary
        japanese:
          type: string
          description: japanese summary of cwe
          example: japanese summary
        owaspTopTen2017:
          type: string
          description: 'owaspTopTen2017 of cwe '
          example: "10"
        sourceType:
          type: string
          description: sourceType of cwe
          example: nvd
      description: Cwe describes a cwe
      example:
        cweID: CWE-416
        english: english summary
        japanese: japanese summary
        owaspTopTen2017: "10"
        sourceType: nvd
    DetectionMethod ResponseBody:
      title: DetectionMethod ResponseBody
      required:
      - name
      - reliabilityScore
      type: object
      properties:
        name:
          type: string
          description: Detection Method Name
          example: vuls
        reliabilityScore:
          type: integer
          description: ReliabilityScore
          format: int64
          example: 100
      example:
        name: vuls
        reliabilityScore: 100
    DetectionToolResponseBody:
      title: DetectionToolResponseBody
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Detection Tool Name
          example: changelog
        patchAppliedAt:
          type: string
          description: PatchAppliedAt
          format: date-time
          example: 2018-07-14T08:13:28Z
      example:
        name: changelog
        patchAppliedAt: 2018-07-14T08:13:28Z
    EnvMetricV2ResponseBody:
      title: EnvMetricV2ResponseBody
      required:
      - cdp
      - createdAt
      - cveID
      - roleID
      - roleName
      - td
      - updatedAt
      type: object
      properties:
        cdp:
          type: string
          description: CDP of envMetricV2
          example: ""
        createdAt:
          type: string
          description: created time
          format: date-time
          example: 2018-07-14T08:13:28Z
        cveID:
          type: string
          description: CveID of envMetricV2
          example: CVE-2018-1234
        roleID:
          type: integer
          description: ServerRoleID of envMetricV2
          format: int64
          example: 1
        roleName:
          type: string
          description: ServerRoleName of envMetricV2
          example: roleName
        td:
          type: string
          description: TD of envMetricV2
          example: ""
        updatedAt:
          type: string
          description: updated time
          format: date-time
          example: 2018-07-14T08:13:28Z
      description: EnvMetricV2 describes a envMetricV2
      example:
        cdp: ""
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        roleID: 1
        roleName: roleName
        td: ""
        updatedAt: 2018-07-14T08:13:28Z
    EnvMetricV3ResponseBody:
      title: EnvMetricV3ResponseBody
      required:
      - createdAt
      - cveID
      - ma
      - mac
      - mav
      - mc
      - mpr
      - ms
      - mui
      - roleID
      - roleName
      - updatedAt
      type: object
      properties:
        createdAt:
          type: string
          description: created time
          format: date-time
          example: 2018-07-14T08:13:28Z
        cveID:
          type: string
          description: CveID of envMetricV3
          example: CVE-2018-1234
        ma:
          type: string
          description: MA of envMetricV3
          example: ""
        mac:
          type: string
          description: MAC of envMetricV3
          example: ""
        mav:
          type: string
          description: MAV of envMetricV3
          example: ""
        mc:
          type: string
          description: MC of envMetricV3
          example: ""
        mpr:
          type: string
          description: MPR of envMetricV3
          example: ""
        ms:
          type: string
          description: MS of envMetricV3
          example: ""
        mui:
          type: string
          description: MUI of envMetricV3
          example: ""
        roleID:
          type: integer
          description: ServerRoleID of envMetricV3
          format: int64
          example: 1
        roleName:
          type: string
          description: ServerRoleName of envMetricV3
          example: roleName
        updatedAt:
          type: string
          description: updated time
          format: date-time
          example: 2018-07-14T08:13:28Z
      description: EnvMetricV3 describes a envMetricV3
      example:
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        ma: ""
        mac: ""
        mav: ""
        mc: ""
        mpr: ""
        ms: ""
        mui: ""
        roleID: 1
        roleName: roleName
        updatedAt: 2018-07-14T08:13:28Z
    LibraryPkgChildResponseBody:
      title: LibraryPkgChildResponseBody
      required:
      - createdAt
      - id
      - name
      - updatedAt
      - version
      type: object
      properties:
        createdAt:
          type: string
          description: crated time of package or cpe
          format: date-time
          example: 2018-07-14T08:13:28Z
        id:
          type: integer
          description: ID of library package
          format: int64
          example: 1
        name:
          type: string
          description: Name of library package
          example: package01
        updatedAt:
          type: string
          description: updated time of package or cpe
          format: date-time
          example: 2018-07-14T08:13:28Z
        version:
          type: string
          description: Version of library package
          example: "1.0"
      example:
        createdAt: 2018-07-14T08:13:28Z
        id: 1
        name: package01
        updatedAt: 2018-07-14T08:13:28Z
        version: "1.0"
    LockfileAddLockfileRequestBody:
      title: LockfileAddLockfileRequestBody
      required:
      - fileContent
      - path
      - serverID
      type: object
      properties:
        fileContent:
          type: string
          description: fileContent of the lockfile
          example: ""
        path:
          type: string
          description: Path of lockfile
          example: /FutureVuls/package.json
        serverID:
          type: integer
          description: ServerID
          format: int64
          example: 1
      example:
        fileContent: ""
        path: /FutureVuls/package.json
        serverID: 1
    LockfileAddLockfileResponseBody:
      title: LockfileAddLockfileResponseBody
      required:
      - createdAt
      - fileContent
      - id
      - path
      - updatedAt
      type: object
      properties:
        createdAt:
          type: string
          description: created time of lockfile
          example: 2018-07-14T08:13:28Z
        fileContent:
          type: string
          description: FileContent of lockfile
          example: ""
        id:
          type: integer
          description: ID of lockfile
          format: int64
          example: 1
        libraryPkgs:
          type: array
          description: LibraryPkgs of lockfile
          example:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          items:
            $ref: '#/components/schemas/LibraryPkgChildResponseBody'
        path:
          type: string
          description: Path of lockfile
          example: /FutureVuls/package.json
        server:
          $ref: '#/components/schemas/ServerChildResponseBody'
        updatedAt:
          type: string
          description: updated time of lockfile
          example: 2018-07-14T08:13:28Z
      example:
        createdAt: 2018-07-14T08:13:28Z
        fileContent: ""
        id: 1
        libraryPkgs:
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        path: /FutureVuls/package.json
        server:
          createdAt: 2018-07-14T08:13:28Z
          defaultUserId: 1
          defaultUserName: vuls user
          hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
          id: 1
          lastScannedAt: 2018-07-14T08:13:28Z
          lastUploadedAt: 2018-07-14T08:13:28Z
          needKernelRestart: true
          osFamily: centos
          osVersion: "6"
          serverName: server01
          serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
          serverroleId: 1
          serverroleName: server_role01
          tags:
          - Fugit repellendus illo.
          - Aperiam ipsa voluptate autem unde.
          - Fuga accusamus aut.
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
    LockfileGetLockfileDetailResponseBody:
      title: LockfileGetLockfileDetailResponseBody
      required:
      - createdAt
      - fileContent
      - id
      - path
      - updatedAt
      type: object
      properties:
        createdAt:
          type: string
          description: created time of lockfile
          example: 2018-07-14T08:13:28Z
        fileContent:
          type: string
          description: FileContent of lockfile
          example: ""
        id:
          type: integer
          description: ID of lockfile
          format: int64
          example: 1
        libraryPkgs:
          type: array
          description: LibraryPkgs of lockfile
          example:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          items:
            $ref: '#/components/schemas/LibraryPkgChildResponseBody'
        path:
          type: string
          description: Path of lockfile
          example: /FutureVuls/package.json
        server:
          $ref: '#/components/schemas/ServerChildResponseBody'
        updatedAt:
          type: string
          description: updated time of lockfile
          example: 2018-07-14T08:13:28Z
      example:
        createdAt: 2018-07-14T08:13:28Z
        fileContent: ""
        id: 1
        libraryPkgs:
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        path: /FutureVuls/package.json
        server:
          createdAt: 2018-07-14T08:13:28Z
          defaultUserId: 1
          defaultUserName: vuls user
          hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
          id: 1
          lastScannedAt: 2018-07-14T08:13:28Z
          lastUploadedAt: 2018-07-14T08:13:28Z
          needKernelRestart: true
          osFamily: centos
          osVersion: "6"
          serverName: server01
          serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
          serverroleId: 1
          serverroleName: server_role01
          tags:
          - Fugit repellendus illo.
          - Aperiam ipsa voluptate autem unde.
          - Fuga accusamus aut.
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
    LockfileGetLockfileListResponseBody:
      title: LockfileGetLockfileListResponseBody
      type: object
      properties:
        lockfiles:
          type: array
          description: Lockfiles list
          example:
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/LockfileListResponseBody'
        paging:
          $ref: '#/components/schemas/PagingResponseBody'
      example:
        lockfiles:
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        paging:
          limit: 20
          offset: 10
          page: 1
          totalCount: 200
          totalPage: 10
    LockfileListResponseBody:
      title: LockfileListResponseBody
      required:
      - createdAt
      - fileContent
      - id
      - path
      - updatedAt
      type: object
      properties:
        createdAt:
          type: string
          description: created time of lockfile
          example: 2018-07-14T08:13:28Z
        fileContent:
          type: string
          description: FileContent of lockfile
          example: ""
        id:
          type: integer
          description: ID of lockfile
          format: int64
          example: 1
        libraryPkgs:
          type: array
          description: LibraryPkgs of lockfile
          example:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          items:
            $ref: '#/components/schemas/LibraryPkgChildResponseBody'
        path:
          type: string
          description: Path of lockfile
          example: /FutureVuls/package.json
        server:
          $ref: '#/components/schemas/ServerChildResponseBody'
        updatedAt:
          type: string
          description: updated time of lockfile
          example: 2018-07-14T08:13:28Z
      example:
        createdAt: 2018-07-14T08:13:28Z
        fileContent: ""
        id: 1
        libraryPkgs:
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        path: /FutureVuls/package.json
        server:
          createdAt: 2018-07-14T08:13:28Z
          defaultUserId: 1
          defaultUserName: vuls user
          hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
          id: 1
          lastScannedAt: 2018-07-14T08:13:28Z
          lastUploadedAt: 2018-07-14T08:13:28Z
          needKernelRestart: true
          osFamily: centos
          osVersion: "6"
          serverName: server01
          serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
          serverroleId: 1
          serverroleName: server_role01
          tags:
          - Fugit repellendus illo.
          - Aperiam ipsa voluptate autem unde.
          - Fuga accusamus aut.
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
    LockfileUpdateLockfileRequestBody:
      title: LockfileUpdateLockfileRequestBody
      type: object
      properties:
        fileContent:
          type: string
          description: fileContent of the lockfile
          example: ""
        path:
          type: string
          description: Path of lockfile
[...]
